* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

hr {
  margin: 10px;
}





body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("img/contact.jpg");

}

.header h1 {
  color: #c25700;
  font-size: 60px;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;

}




.list li {
  margin-top: 5px;
  background-color: #fff;
  text-align: center;
  font-size: 40px;
  color: #c25700;
  font-weight: 900;
  margin-bottom: 15px;
  margin-left: 360px;
  margin-right: 360px;
  margin-top: 20px;
  border-radius: 5px;



}

h2 {

  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
  margin-top: 10px;



}

.nav-area {
  position: relative;
  float: right;
  list-style: none;
  top: 0px;
  width: 100%;
  margin: 20px;

}

.nav-area li {
  display: inline-block;
  float: right;

}

.nav-area li a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 20px;
  font-size: 20px;


}

.nav-area li a:hover {
  background-color: #c25700;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 5px;
}





.footer {
  background-color: #fff;
  width: 100%;
  color: black;
  text-align: center;
  position: static;
  bottom: 0;
  font-weight: bold;
}

.Question h2 {

  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: white;
}


.footer p {
  font-size: 20px;
  margin-top: 3%;
  margin-bottom: 1%;

}

.comment-box {

  top: 50%;
  left: 30%;
  width: 500px;
  position: relative;
}

.comment-box h2 {

  color: #c25700;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 15px;



}

.comment-box input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid white;
}

.comment-box input:focus {
  border: 1px solid #000;
  outline: 0;
}

.comment-box textarea {
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid white;


}

.comment-box textarea:focus {
  border: 1px solid black;
  outline: 0;
}

.comment-box button {
  border: 0;
  padding: 10px 30px;
  background: #001d7c;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;

}

.comment-box button:hover {
  background-color: blue;

}

.figure img {
  position: relative;
  left: 510px;
  width: auto;
  height: 200px;
  border-radius: 5px;
}


.aside {
  background-color: #c25700;
  margin-right: 1210px;
  position: relative;
  left: 10px;
  bottom: 300px;
  text-align: left;
  color: #dff3ff;
  border-radius: 5px;



}

.figure figcaption {
  font-size: 20px;
  color: rgb(255, 255, 255);
  position: relative;
  left: 510px;
  text-decoration: underline;
  text-decoration-color: #c25700;



}