*{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;

}





body{
 background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("img/city.webp");

}

.ToDo h1{
  text-align: left;
  padding-left: 20px ;
  margin: 1px;
  color: #fff;
  font-size: 70px;
  
}
.Visiting {
margin-left: 20px;
margin-top: 30px;
margin-bottom: 20px;
font-size: 25px;

}

.Visiting h3{
  font-size: 60px;
  color: #fff;
  text-align: center;
  margin-top: 30px;
  
}


.list li {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin: 15px;
  
  
}

.list p{
  font-size: 20px;
  background: #5c5c5c;
  color: #fff;
  
}

.Todo img{
  width: 500px;
  padding-left: 30%;
}


.nav-area{
  float: right;
  list-style: none;
  margin-top: 1px;
  padding-right: 20px;
  
}

.nav-area li{
  display: inline-block;
  
}

.nav-area li a{
  color: #fff;
  text-decoration: none;
  padding: 5px 20px;
  font-size: 20px;
  
}

.nav-area li a:hover{
  background: #fff;
  color: #333;
}

 


.footer {
  background-color: #FFF;
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  font-weight: bold;
  
}

.footer p{
  
  Background-color: #fff;
  color: black;
  
  
}

.list img{
  width: auto;
  height: 300px;
}

.figure figcaption{
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(255, 255, 144);

}


.aside{ 
background-color: #14623e;
margin-right: 1210px;
position: relative;
left: 1100px;
bottom: 300px;
text-align: left;
color: #dff3ff;

}

.aside h3{
color: yellow;
font-style: italic;

}

.aside label{
  color: #fff;
}


.by h2 {
  text-align: center;
  color: #fff;
  margin-top: 5px;
  
}